
<div id="new-container">
<h1 class="section_header">Topics</h1>
<div style="flex-grow: 1"></div>
<a class="btn-small blue-grey b-hover" style="margin: 2.8rem 0 15px 0;">New Topic</a>
</div>
<ul class="collection" style="border-color: #666;">
<%= for topic <- @topics do %>
<li class="collection-item customized-collection-item" style="background: transparent; padding-top: 15px; padding-bottom: 15px; border-color: #666;" ><%= topic.title %></li>
<% end %>
</ul>